.box {

  .left,
  .right {}

  .left {
    width: 234px;



    .list {
      padding: 0 8px;

      ul {
        border: 5px solid #990033;
        height: 160px;
        padding: 0 10px;

        li {
          &:last-child {
            border: none;
          }

          color: #990033;
          padding-left: 11px;
          line-height: 29px;
          background: url('../../../assets/img/dd.jpg') no-repeat left center;
          border-bottom: solid #DEDEDE 1px;
        }
      }
    }
  }

}
