<div class="lb">
  <div class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let banner of banners">
        {{banner.image}}
        <img [src]="banner.image" [alt]="banner.name">
      </div>
    </div>

    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="box flex">
  <div class="box1 flex-x">
    <div class="title">新闻<span [routerLink]="['/news']">更多</span></div>
    <div class="list">
      <ul>
        <li *ngFor="let new of news">
          {{ new.title}} <span>{{new.time}}</span>
        </li>


      </ul>
    </div>
  </div>
  <div class="box2 flex-x">
    <div class="box-text">
      <div class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            11 </div>

          <div class="swiper-slide">
            22 </div>

          <div class="swiper-slide">
            33 </div>
        </div>

        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="box3 flex-x">
    <div class="box-text">
      电话：86-769-8920 9226<br /> 邮箱：cheng@meifu.net
      <br /> 地址：广东省东莞市常平镇土塘1号工业区523581
    </div>
  </div>
</div>
