.flex {
    display: flex;
    flex-flow: row wrap;
    .flex-x {
        flex: 1 1 auto;
    }
}

* {
    letter-spacing: 1px;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    // color: #4f4f4f;
    // background: $huied;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea,
i {
    font: 14px/1.5 "微软雅黑", arial, verdana, sans-serif
}

li {
    list-style: none
}

fieldset,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

legend {
    color: #000
}

small {
    font-size: 12px
}

hr {
    border: none;
    height: 1px
}

ul li a,
a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333;
}